/* mise en forme des titres de chaque catégorie */
h1, h2
{
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.topRated
{
    display: flex;
    justify-content: center;
}

.bestMovieBtn
{
    width: 80px;
    height: 20px;

}
.bestMovieDescription
{
    position: relative;
    bottom: auto;
    left: auto;
    width: 300px;
}
#bestMovieImg
{
    
    width: 300px;
    height:300px;
    
}
.titleBestMovie
{
    font-weight: bold;
}
.title
{
    text-align: center;
    font-weight: bold;
}
.mySlides
{
    display: flex;
    width: 300px;
    align-items: flex-end;
    grid-row: inline;
}

